[phases.setup]
nixPkgs = ["nodejs_22", "npm"]

[phases.install]
cmds = ["npm install", "cd backend && npm install", "cd frontend && npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"
